/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #24262a;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

/* Estilo do título */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fdfcfc;
}

/* Container do formulário de login */
.Login {
    background-color: #3d4448;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;

}

/* Estilo dos campos de entrada */
input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

/* Estilo do botão */
button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message-flash{
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 300px; /* Ajuste conforme necessário para dar espaço ao footer */
}

/* Corpo da página */
body.index-page {
    font-family: Arial, sans-serif;
    background-color: #4e4f5000;
    color: #212020;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.h1 {
    align-items: center;
}

/* Container do Header */
.container-fluid.container-xl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 0;  /* Remove qualquer margem padrão */
    width: 100%;
    max-width: 100%;
    padding-left: 2;
    padding-right: 2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 
            0px 1px 3px rgba(0, 0, 0, 0.05);
}


/* Adiciona um espaçamento superior ao conteúdo para evitar sobreposição */
body > .form {
    margin-top: 100px;
}


h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #dedede;
}


h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #343a40;
}







