{% include 'header/model-header.html' %}
    
    <!-- Features -->
    <section class="features">
        <div class="container">
            <div class="section-title">
                <h2>Recursos </h2>
            </div>
            <div class="features-grid">
               <div class="feature-card clickable-card" onclick="window.location.href='/relatorio-filas';">
                    <a href="" class="card-link">
                        <div class="feature-icon">
                            <i class="bi bi-person-walking"></i>
                        </div>
                        <h3>Filas</h3>
                        <p>Extraia um relatório da fila.</p>
                    </a>
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <h3>Dashboard</h3>
                    <!--<p>Crie gráficos e dashboards impressionantes com apenas alguns cliques.</p>-->
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fas fa-robot"></i>
                    </div>
                    <!--<h3>Previsões Automáticas</h3>
                    <p>Modelos de machine learning que preveem tendências futuras com base em dados históricos.</p>-->
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <!--<h3>Integração Completa</h3>
                    <p>Conecte-se a diversas fontes de dados, desde planilhas até bancos de dados corporativos.</p>-->
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <!--<h3>Segurança de Dados</h3>
                    <p>Proteção de nível empresarial para garantir a confidencialidade de suas informações.</p>-->
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                        <i class="fas fa-users-cog"></i>
                    </div>
                    <!--<h3>Colaboração em Equipe</h3>
                    <p>Compartilhe insights e trabalhe em conjunto com sua equipe em tempo real.</p>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Dashboard Preview -->
    <section class="dashboard-preview">
        <div class="container">
            <div class="dashboard-container">
                <div class="dashboard-text">
                    <!--<h2>Dashboard Personalizado</h2>
                    <p>Monitore todos os seus KPIs em um único lugar com nosso dashboard altamente personalizável. Arraste e solte widgets, altere layouts e crie a visualização perfeita para suas necessidades analíticas.</p>
                    <p>Obtenha insights em tempo real com atualizações automáticas e alertas personalizados para mudanças significativas em seus dados.</p>
                    <a href="#" class="btn">Experimente o Dashboard</a>-->
                </div>
                <!--<div class="dashboard-image">
                    <img src="" alt="Dashboard de Análise de Dados">
                </div>-->
            </div>
        </div>
    </section>


    {% include 'footer/model-footer.html' %}

    
</body>
</html>